body {
    color: white;
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Platypi", serif;
}

header {
    border-bottom: solid 5px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);    
}

section {
    background: rgb(50, 49, 50);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 10%;
}

h1 { 
    font-size: 40px;
}

p {
    font-size: 20px;
}

.mortal2 {
    background: rgb(57, 62, 104);
    margin: 3px;

}

.Mortal {
    margin-right: 10%;
}

h2 {
    font-size: 40px;
} 

.metal2{
    background: rgb(50, 49, 50);
}

.metal{
    margin-right: 10%;
}

h3{
    font-size: 40px;
}

.sonic2{
    background: rgb(57, 62, 104);
    margin: 3px;
}

.sonic{
    margin-right: 10%;
}

h4{
    font-size: 40px;
}